BASE_SERVER_PORT=
BLACK_MIRROR_SERVER_URL=
BLACK_MIRROR_SERVER_PORT=
BLACK_MIRROR_API_PORT=
PING_REPEAT_IN_SECONDS=300
CONFIG_LISTEN_SERVER_LOCAL_PORT=
SWITCH_SERVER_LOCAL_PORT=
HAS_SCREEN=
DEVELOPMENT=
CARD_READER=
TEST_TEMPERATURE=
NODE_VERSION=
