BASE_SERVER_PORT=4444
BLACK_MIRROR_SERVER_URL=
BLACK_MIRROR_SERVER_PORT=
CONFIG_LISTEN_SERVER_LOCAL_PORT=4300
SWITCH_SERVER_LOCAL_PORT=4340
HAS_SCREEN=true/false
DEVELOPMENT=true/false
TEST_TEMPERATURE=12
NODE_VERSION=17.1.0